// Bottom navigation.
.component-bottom-navigation {
  .col-md-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $default-separation;
    text-align: center;

    @include media-breakpoint-up(md) {
      &:last-child {
        &:before {
          content: '';
          position: absolute;
          left: -1px;
          top: 0;
          background-color: $color_white;
          width: 2px;
          height: 100%;
          box-shadow: $default-box-shadow;
        }
      }
    }

    .inner-wrapper {
      max-width: map-get($container-max-widths, 'xs');
    }
  }

  .pre-title,
  .title {
    margin-bottom: math.div($default-separation, 1.5);
  }
}
