.component-media-with-expansion {
  position: relative;
  display: inline-block;
  margin-bottom: math.div($icon-button-size, 2);

  .actions {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 35%);
  }

  .overlay {
    padding: $default-separation;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .close-popup {
      position: absolute;
      right: math.div($default-separation, 2);
      top: math.div($default-separation, 2);
    }

    figure {
      max-height: 50vh;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      video{
        max-width: 900px;
        width: 100%;
      }
    }

    .overlay__text {
      margin: 20px auto;
      max-width: map-get($container-max-widths, 'md');
    }

    .title {
      margin: 20px auto;
    }
  }
}
