// Text in one column with floating media.
.component-intro-text {
  position: relative;
  margin-bottom: -80px;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 85%;
    background-blend-mode: multiply;
    
    @include media-breakpoint-up(md) {
      background-size: 50%;
    }
  }

  .container {
    position: relative;
  }

  .header-container,
  .body-container {
    padding-bottom: $default-separation;
    padding-top: $default-separation;
  }

  .image-container {
    margin-bottom: $default-separation;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-left: -16.667%;
    }
  }

  .text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
