.component-media-with-expansion {
  position: relative;

  .actions {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 50%);
  }

  .overlay {
    padding: $default-separation;
    display: flex;
    flex-direction: column;

    figure {
      max-height: 50vh;
    }
  }
}
