// Text in one column with floating media.
.component-intro-text {
  margin-bottom: -80px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 50%;
  background-blend-mode: multiply;

  @include media-breakpoint-down(md) {
    background-image: none !important;
    margin-bottom: 0;
  }

  .container {
    position: relative;
  }

  .header-container,
  .body-container {
    padding-bottom: $default-separation;
    padding-top: $default-separation;
  }

  .image-container {
    margin-bottom: $default-separation;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-left: -16.667%;
    }
  }

  .text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: contain;
      background-blend-mode: multiply;
      
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    .body {
      position: relative;
    }
  }
}
