// Text in one column with floating media.
.component-image-text-one-column {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 50%;

  .column {
    padding: $default-separation;
  }

  .title {
    text-align: center;
    max-width: map-get($container-max-widths, 'md');
    margin-bottom: math.div($default-separation, 1.5);
  }

  .body {
    max-width: map-get($container-max-widths, 'sm');
  }

  .floating-media {
    float: left;
    margin-left: -30%;
    padding: 2em;
    shape-outside: circle(50% at 50% 50%) padding-box;

  }
}
