//Carousel item and Header top content
.content-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 60px 0 80px 0;
  text-align: center;

  .header-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    will-change: opacity, margin-left;
    transition:
      opacity $main-carousel-transition-duration ease-in-out;
    //transform $main-carousel-transition-duration ease-in-out;
    //margin-left $main-carousel-transition-duration ease-in-out;
    width: 100%;
    margin-left: 0;
    transform: translate(0, 0);
    opacity: 1;
    z-index: 2;

    .no_selected & {
      opacity: .3;
    }
  }

  .header-inner-content__img {
    .image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-family: $font-family-serif;
    font-weight: $font-weight-normal;
    line-height: $line-height-xs;
    text-transform: uppercase;
    font-size: $h2-font-size;

    @include media-breakpoint-up(xl){
      font-size: $h2-font-size--desktop;
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) and (max-height: $round-image-vertical-breakpoint-lg) {
      font-size: $h2-font-size;
    }

    // ¡Vertical media queries take precedence!
    @media (min-width: map-get($grid-breakpoints, 'lg')) and (max-height: $round-image-vertical-breakpoint-md) {
      font-size: $h3-font-size;
    }

    @media (max-height: $round-image-vertical-breakpoint-sm) {
      font-size: $font-size-xxlg;
    }
  }

  .pretitle,
  .subtitle {
    &:empty {
      display: none;
    }
  }

  .subtitle {
    margin: 0 auto;
    max-width: map-get($container-max-widths, 'sm');

    @media (min-width: map-get($grid-breakpoints, 'sm')) and (max-height: $round-image-vertical-breakpoint-md) {
      font-size: $font-size-base;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: fadeIn math.div($main-carousel-transition-duration, 2) ease-in-out;
    z-index: 2;
    //transition: opacity math.div($main-carousel-transition-duration, 3) ease-in-out;
    padding-bottom: $default-separation * 1.5;

    @include media-breakpoint-up(sm) {
      padding-bottom: $default-separation;
    }

    @media (max-height: $round-image-vertical-breakpoint-md) {
      padding-bottom: math.div($default-separation, 2);
    }

    @media (max-height: $round-image-vertical-breakpoint-sm) {
      .btn {
        font-size: $font-size-tiny;
      }
    }
  }

  .btn {
    margin-bottom: math.div($default-separation, 2);
  }
}

// Scroll Animation

.content-header__container {
  background: transparent;
  transition: background $scroll-down-transition-duration ease-in-out;

  .header-inner-content__img {
    position: absolute;
    max-width: unset;
    bottom: 45%;
    width: $round-image-size-small;
    height: $round-image-size-small;
    //margin-bottom: calc(-1 * ((#{$round-image-size-small} / 2) - 5em));
    box-sizing: border-box;
    will-change: width, height, opacity, bottom, transform, margin-bottom;
    transition:
      width $scroll-down-transition-duration ease-in-out,
      height $scroll-down-transition-duration ease-in-out,
      opacity math.div($scroll-down-transition-duration, 2) ease-in-out,
      bottom $scroll-down-transition-duration ease-in-out,
      margin-bottom math.div($scroll-down-transition-duration, 2) ease-in-out;

    @include media-breakpoint-up(sm) {
      width: $round-image-size;
      height: $round-image-size;
      bottom: 40%;
    }
    @include media-breakpoint-up(lg) {
      width: $round-image-size-medium;
      height: $round-image-size-medium;
      bottom: 35%;
    }
    @include media-breakpoint-up(xl) {
      width: $round-image-size-big;
      height: $round-image-size-big;
      bottom: 30%;
    }

    // ¡Vertical media queries take precedence!

    @media (min-width: map-get($grid-breakpoints, 'lg')) and (max-height: $round-image-vertical-breakpoint-md) {
      width: $round-image-size-medium;
      height: $round-image-size-medium;
    }

    @media (max-height: $round-image-vertical-breakpoint-sm) {
      width: $round-image-size-tiny;
      height: $round-image-size-tiny;
      bottom: 40%;
      border-width: 6px;
    }

    img {
      object-fit: cover;
    }
  }

  .header-inner-content__text {
    position: absolute;
    top: 60%;
    z-index: 1;
    padding-left: math.div($grid-gutter-width, 2);
    padding-right: math.div($grid-gutter-width, 2);
    // padding-top: $round-image-size-small + $default-separation;
    //max-width: map-get($container-max-widths, 'md');
    max-width: 100%;
    transition: all $scroll-down-transition-duration ease-out;

    @include media-breakpoint-up(sm) {
      top: 65%;
    }
    @include media-breakpoint-up(lg) {
      top:70%;
    }
    @include media-breakpoint-up(xl) {
      top: 75%;
    }

    @media (max-height: $round-image-vertical-breakpoint-sm) {
      top: 65%;
    }
  }

  .title {
    transition: all $scroll-down-transition-duration ease-out;
    @include media-breakpoint-up(md) {
      white-space: nowrap;
      max-height: 2em;
    }
  }

  .pretitle,
  .subtitle {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align:center;
    opacity: 0;
    margin-bottom: 0;
    transition: all $scroll-down-transition-duration ease-out;
  }

  .pretitle {
    bottom: 100%;
  }

  .subtitle {
    top: 100%;
  }

  // ANIMATION ACTIVE
  &[data-animation="active"] {
    background: $body-bg;

    .header-inner-content__img {
      bottom: 0;
      width: 110vw;
      height: 110vw;
      // transform: translate(0, 0);
      margin-bottom: 0;
      opacity: .5;

      @media (orientation: portrait) {
        width: 110vh;
        height: 110vh;
      }
    }

    .header-inner-content__text {
      top: 40%;
      //max-width: map-get($container-max-widths, 'lg');
      // padding-top: math.div($round-image-size + $default-separation, 5);
    }

    .title {
      @extend .header-xlarge;
      // The typography is not properly centered on its own axis.
      // 0.17em is the correction needed to make it optically centered.
      margin: 12px 0 calc(32px - 0.17em) 0;
      white-space: normal;

      @media (min-width: map-get($grid-breakpoints, 'sm')) and (max-height: $round-image-vertical-breakpoint-md) {
        font-size: $h2-font-size--desktop;
      }

      @media (min-width: map-get($grid-breakpoints, 'sm')) and (max-height: $round-image-vertical-breakpoint-sm) {
        font-size: $h2-font-size;
      }
    }

    .pretitle {
      margin-bottom: 15px;
    }

    .pretitle,
    .subtitle {
      opacity: 1;
    }
  }
}
