header[role="banner"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 24px;
  z-index: 9;
  transition: all .25s ease-in-out;

  @include media-breakpoint-up(sm) {
    padding: 23px 30px;
  }

  &.hide {
    transform: translateY(-100%);
  }

  .is-scrolled & {
    background-color: #fff;
  }

  .full_video & {
    display: none;
  }

  > * {
    flex: 1;

    &:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  .header__logo {
    display: none;
    justify-content: center;
    margin: 0 15px;

    svg {
      display: block;
    }

    .is-scrolled & {
      display: flex;
    }
  }
}
