// Text in one column with floating media.
.component-image-text-one-column {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 85%;
  background-blend-mode: multiply;

  @include media-breakpoint-up(md) {
    background-size: 50%;
  }

  .column {
    padding: $default-separation;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .title {
    max-width: map-get($container-max-widths, 'md');
    margin: 0 auto 60px;
    text-align: center;
  }

  .body {
    margin: 0 auto;
    max-width: map-get($container-max-widths, 'sm');
  }

  .floating-media {
    margin: $default-separation * 2 auto ;

    @include media-breakpoint-up(md) {
      float: left;
      padding: 2em;
      margin: 0;
      margin-left: -30%;
      margin-top: 120px;
      shape-outside: circle(50% at 50% 50%) padding-box;
    }
  }
}