// Intro page.
.container-video-intro {
  &.video-no-played {

    .header-inner-content__img {
      width: 100% !important;
      height: 100% !important;
      border-radius:0%;
      z-index: 999 !important;
    }

    .header-inner-content__img.image{
      //position: relative;
    }

    .content-header__container{
      border-radius: 0%;

      &.wrapper{
        height: 100vh;
      }
    }
  }

  position: relative;

  .mute_button {
    margin-bottom: 5rem;

    button {
      margin-bottom: math.div($grid-gutter-width, 2);
    }

    @include media-breakpoint-up(md) {
      position: fixed;
      bottom: 20px;
      right: 30px;
      margin: 0;
      z-index: 4;
    }

  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;

  }
  .video-circle {
    video{
      border-radius: 50%;
      //position: absolute;
      width:400px;
      height: 400px;
    }
  }
  .video-intro{
    //transform:translateX(0%);
    //border-radius: 0%;    transition: all 0.1s;


  }
  .video-skipped{
    transition: all 0.1s;

    //border-radius: 50%;
    video{
      //border-radius: 50%;
    }
  }
  .btn-begin-experience {
    background-color: $color-white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: $default-box-shadow;
    transition: $default-transition;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .15em;
    color: $color-black;
    white-space: break-spaces;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index:60;
    &:hover {
      background-color: rgba($color-white, .8);
    }
    &.playing{

      &:hover{
        cursor: default;
      }
    }
  }

  .btn-skip-intro {
    min-width: 108px;
    border-radius: 20px;
    padding: .5em 1em;
    color: $color-black;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: rgba($color-white, .9);
    transition: $default-transition;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    z-index:60;

    &:hover {
      background-color: rgba($color-white, 1);
    }
  }
}
