.menu-schools {
  padding-top: $spacer * 2;

  @include media-breakpoint-up(md) {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 0;

    &:before {
      content: '';
      margin-top: auto;
    }

    &:after {
      content: '';
      margin-bottom: auto;
    }
  }

  .menu-schools__col {
    margin-bottom: $spacer * 3;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 5;

      &:last-child {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -1px;
          width: 2px;
          height: 100%;
          background: $color_white;
          box-shadow: $default-box-shadow;
        }
      }
    }
  }

  h2 {
    margin-bottom: $spacer * 2;
  }

  .menu-schools__link {
    margin-top: 20px;

    a {
      transition: opacity .25s ease-in-out;

      &:hover, &:focus {
        opacity: .6;
      }
    }
  }
}