.header-menu--main {
  .chakra-menu__menu-button {
    position: fixed;
    top: 23px;
    right: 37px;
    z-index: 1;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .menu-main__link {
    margin-bottom: $grid-gutter-width * 2;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      transition: opacity .25s ease-in-out;

      &:hover, &:focus {
        opacity: .6;
      }
    }
  }
}