.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .menu-main__link {
    margin-bottom: $grid-gutter-width;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      transition: opacity .25s ease-in-out;

      &:hover, &:focus {
        opacity: .6;
      }
    }
  }
}
