.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  &::after {
    content: '';
    display: block;
    margin-top: $grid-gutter-width;
    width: 2px;
    height: 160px;
    background: $color-white;
    box-shadow: $default-box-shadow;
  }

  svg {
    margin-bottom: $grid-gutter-width;
  }

  p {
    max-width: map-get($container-max-widths, 'md');
    text-align: center;
  }
}