
.line-separator {
  position: relative;
  padding: $default-section-padding * 2 0;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 1px;
    display: block;
    width: 2px;
    height: 100%;
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    pointer-events: none;
  }

  &.line-separator--half-height {
    padding: $default-section-padding 0;
  }

  &.line-separator--overflowed {
    &:before {
      height: 200%;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}
