
.line-separator {
  position: relative;
  padding: $default-section-padding 0;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 1px;
    display: block;
    width: 2px;
    height: 100%;
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    pointer-events: none;
  }

  &.line-separator--overflowed-top-1-3{
    padding: math.div($default-section-padding, 1.5) 0;
    &::before {
      height: 170%;
      top: -60%;

      @include media-breakpoint-up(sm) {
        height: 150%;
        top: -50%;
      }

      @media (max-height: $round-image-vertical-breakpoint-md) {
        height: 100%;
        top: -25%;
      }

      @media (max-height: $round-image-vertical-breakpoint-sm) {
        height: 50%;
        top: -25%;
      }
    }
  }


  // // Remove when vertical space is tiny
  // @media (max-height: $round-image-vertical-breakpoint-xsm) {
  //   display: none;
  // }
}
