.teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 272px;
  text-align: center;

  .teaser__image {
    width: 272px;
    height: 272px;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .teaser__image_carousel {
    width: 272px;
    height: 272px;
    object-fit: cover;
    margin-bottom: none;
  }

  .teaser__title {
    margin-bottom: 20px;
  }

  .teaser__link {
    padding-bottom: 2px;
    border-bottom: 1px solid $color_black;
  }
}

@include media-breakpoint-down(md) {
  .teaser__image_carousel {
    width: 56vw !important;
    height: 56vw !important;
  }
}
