.video-vimeo {
  margin: 0 auto;
  width: 100%;

  > div {
    position: relative;
    width: 100% !important;
    height: inherit !important;
    padding-bottom: 42%; // emory vimeo ratio
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.overlay {
  figure[data-media="video"] {
    width: 100%;
    max-height: inherit;
  }
}