.watermark {
  opacity: 0.35;
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 9;

  @include media-breakpoint-up(lg) {
    bottom: 30px;
    left: 30px;
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) and (max-height: $round-image-vertical-breakpoint-sm) {
    display: none;
  }

  @media (max-width: 360px) {
    display: none;
  }
}
