%rounded-with-shadow {
  border-radius: 50%;
  background-color: $color_white;
  box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: $default-transition;

  &:hover {
    box-shadow: $default-box-shadow--hover;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

// Buttons
.btn {
  @extend %text-label;
}
.icon-button {
  @extend %rounded-with-shadow;
  width: $icon-button-size;
  height: $icon-button-size;

  svg {
    width: 30px;
    height: auto;
  }

  &.small {
    width: $icon-button-size--small;
    height: $icon-button-size--small;

    svg {
      width: 20px;
    }
  }
}

.round-wp{
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 12px solid $color-white;
  box-shadow: $default-box-shadow;
  background-color: $color-white;
  max-width: $round-image-size;
  margin: 0 auto;
  aspect-ratio: 1 / 1;

  &.size--big {
    max-width: $round-image-size-big;
  }
}

.overlay {
  z-index: 10;
  position: fixed;
  background: rgba($color_white, 0.6);
  backdrop-filter: blur(80px);
  will-change: opacity;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: $default-separation;
}
