@use 'sass:math';
@import "_variables";
@import "mixins/_breakpoints";

.embla--carousel-navigation.embla {
  position: relative;
  background-color: $body-bg;
  margin-left: auto;
  height: 100vh;
  margin-right: auto;

  // Workaround to not lost the scroll bar on
  // desktop devices during the horizontal transition.
  @media (hover: hover) {
    height: 101vh;
  }

  &.transitioning{
    .actions{
      opacity: 0;
    }
    + #carouselContent {
      .line-separator {
        opacity: 0;
      }
    }
  }

  &.page-carousel {
    min-width: 30vw;

    .embla__slide {
      min-width: 30vw;
    }
  }
}
.embla__viewport {
  overflow: hidden;
  width: 100%;

  &:before{

    filter: drop-shadow(0.1px 0.1px 0.1px grey) blur(10px);
    opacity:0;
    content: ' ';
    //transition: background $scroll-down-transition-duration ease-in-out;
    transition: opacity $main-carousel-transition-duration ease-in-out,
                filter $main-carousel-transition-duration/2 linear;
    background-position-x: 41% !important;
    background-position-y:  calc(-100vh / 7) !important;
    top:30px;
    background-size: calc(75vh * 2) !important;
    @include media-breakpoint-up(md) {
      background-position-x: 50% !important;
      top:30px;
      background-position-y:  calc(-100vh / 3.7) !important;
      background-size: calc(100vh * 2) !important;
    }
  }
  &.background-visible{
    &:before{
      opacity: 1;
    }
  }
}

.embla__viewport.is-draggable {
  //cursor: move;
  //cursor: grab;
}

.embla__viewport.is-dragging {
  //cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
  transition: all $main-carousel-transition-duration ease-in-out;

  .no_selected {
    z-index: -1;
  }
}

.embla--carousel-navigation .embla__slide {
  position: relative;
  min-width: 100vw;
  z-index: 5;
}

.embla--carousel-navigation .embla__container{
  position: absolute;
}

.embla--carousel-navigation .embla__slide__inner {
  position: relative;
  //overflow: hidden;
}

.embla__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  background-color: $color_white;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 64px;
  height: 64px;
  fill: $color_black_soft;
  padding: 0;
  border-radius: 50%;
  box-shadow: $default-box-shadow;
  transition: box-shadow .25s ease-in-out;

  &:hover, &:focus {
    box-shadow: $default-box-shadow--hover;
  }
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 15px;
  height: 15px;
}

.embla__button--prev {
  left: 10%;
}

.embla__button--next {
  right: 10%;
}

body.is-scrolled {
  .embla--carousel-navigation {
    .embla__button {
      display: none;
    }
  }
}
.embla_slide_present{
  position: absolute;
  transition: all $main-carousel-transition-duration ease-in-out;
  &.first {
    margin-left: calc(60% - #{math.div($round-image-size, 2) - 0px});

    @include media-breakpoint-up(sm) {

      // Animation version 1
      margin-left: calc(50% - #{math.div($round-image-size, 2) - 0px});

      // Animation version 2
      //transform: translate(calc(50% - #{math.div($round-image-size, 2) - 50px}), 0);

      // Animation version 3
      //transform: translateX(- math.div($round-image-size, 2) + 50px);
      //margin-left: 50%;

      // Animation version 4
      //transform: translate(50%, 0);
      //margin-left: - math.div($round-image-size, 2) + 50px;
    }
    @include media-breakpoint-up(lg) {

      // Animation version 1
      margin-left: calc(50% - #{math.div($round-image-size-medium, 2) - 50px});

      // Animation version 2
      //transform: translate(calc(50% - #{math.div($round-image-size-medium, 2) - 50px}), 0);

      // Animation version 3
      //transform: translateX(- math.div($round-image-size-medium, 2) + 50px);
      //margin-left: 50%;

      // Animation version 4
      //margin-left: - math.div($round-image-size-medium, 2) + 50px;
    }
    @include media-breakpoint-up(xl) {

      // Animation version 1
      margin-left: calc(50% - #{math.div($round-image-size-big, 2) - 100px});

      // Animation version 2
      //transform: translate(calc(50% - #{math.div($round-image-size-big, 2) - 100px}), 0);

      // Animation version 3
      //transform: translateX(- math.div($round-image-size-big, 2) + 100px);
      //margin-left: 50%;

      // Animation version 4
      //margin-left: - math.div($round-image-size-big, 2) + 100px;
    }
  }

  &.last {
    margin-left: calc(-60% + #{math.div($round-image-size, 2) - 0px});

    @include media-breakpoint-up(sm) {

      // Animation version 1
      margin-left: calc(-50% + #{math.div($round-image-size, 2) - 0px});

      // Animation version 2
      //transform: translate(calc(-50% + #{math.div($round-image-size, 2) - 50px}), 0);

      // Animation version 3
      //transform: translateX(math.div($round-image-size, 2) - 50px);
      //margin-left: -50%;

      // Animation version 4
      //transform: translate(-50%, 0);
      //margin-left: math.div($round-image-size, 2) - 50px;
    }
    @include media-breakpoint-up(lg) {

      // Animation version 1
      margin-left: calc(-50% + #{math.div($round-image-size-medium, 2) - 50px});

      // Animation version 2
      //transform: translate(calc(-50% + #{math.div($round-image-size-medium, 2) - 50px}), 0);

      // Animation version 3
      //transform: translateX(math.div($round-image-size-medium, 2) - 50px);
      //margin-left: -50%;

      // Animation version 4
      //margin-left: math.div($round-image-size-medium, 2) - 50px;
    }
    @include media-breakpoint-up(xl) {
      // Animation version 1
      margin-left: calc(-50% + #{math.div($round-image-size-big, 2) - 100px});

      // Animation version 2
      //transform: translate(calc(-50% + #{math.div($round-image-size-big, 2) - 100px}), 0);

      // Animation version 3
      //transform: translateX(math.div($round-image-size-big, 2) - 100px);
      //margin-left: -50%;

      // Animation version 4
      //margin-left: math.div($round-image-size-big, 2) - 100px;
    }
  }

}

.embla--carousel-navigation{

  &.transitioning.blocked{
    .embla__button{
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

body.hide-lateral{

  .embla_slide_present.no_selected{
    //display: none;
  }
  .embla--carousel-navigation {
    .embla__button {
      display: none;
    }
  }
  .header-menu.header-menu--schools{
    display: none;
  }
  .header-menu.header-menu--main{
    display: none;
  }
}
// CAMPAIGN CAROUSEL
.campaign-carousel {
  .campaign-carousel__title {
    text-align: center;
    margin-bottom: 60px;
  }

  .embla {
    position: relative;
    margin: 0 auto;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 143px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color_white;
    }
  }

  .embla__container {
    transition: none;
  }

  .embla__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 272px;
    padding: 0 40px;

    @include media-breakpoint-up(md) {
      min-width: 33.33%;
      padding: 0;
    }
  }

  .embla__button {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      top: 143px;

      &.embla__button--prev {
        left: 31%;
      }

      &.embla__button--next {
        right: 31%;
      }
    }
  }
}
